@using Microsoft.AspNetCore.Identity

@model UserTableDTO
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/IndexUser.js"></script>
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Assign role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr user-id="@item.Id">
                <td user-email="@item.Id">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td user-role="@item.Id">
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Assign a role
                        </button>
                        <div class="dropdown-menu" user-dropdown-menu="@item.Id" aria-labelledby="dropdownMenuButton">
                            @foreach (var role in Model.Roles)
                            {
                                if (!item.Role.Equals(role.Name))
                                {
                                    <a class="dropdown-item" role-name="@role.Name" asp-action="AssignRole" asp-route-id="@item.Id" asp-route-currentRole="@item.Role" asp-route-newRole="@role.Name">@role.Name</a>
                                }
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
